<div class="main">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>Stackroots emphasis on investing in human capital and core skills. With continuous
            innovation & improvement as our motto, we provide business development services,
            web-based creative designs and website developments, effective online marketing
            solutions thereby helping our clients to materialize their marketing goals. We have
            associated with some of the top business brands to create amazing products and
            solutions. Our eminent clientele is spread across the world. Stackroots is your perfect
            partner to handle your key operations with a passion to deliver prolific results without
            compromising on quality at any stage.</p>
        </header>
    </div>
    <div class="row row-eq-height justify-content-center">

        <div class="col-lg-4 mb-4">
          <div class="card" data-aos="zoom-in" data-aos-delay="100">
            <i class="fa fa-refresh"></i>
            <div class="card-body">
              <h5 class="card-title">Agile development methodologies</h5>
              <p class="card-text">Agile approaches development requirements and solutions through the collaborative effort of self-organizing and cross-functional teams and their customer/end user.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card" data-aos="zoom-in" data-aos-delay="300">
            <i class="fa fa-handshake-o"></i>
            <div class="card-body">
              <h5 class="card-title">Talented and skillful team members</h5>
              <p class="card-text">Experts in building interactive and responsive applications and websites using cutting-edge technology and tools.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card" data-aos="zoom-in" data-aos-delay="500">
            <i class="fa fa-check"></i>
            <div class="card-body">
              <h5 class="card-title">Stringent quality process and control</h5>
              <p class="card-text">Our quality assurance ensures that end-users get a functional user interface, best user experience and meet client expectations, when using the website or application. </p> 
            </div>
          </div>
        </div>
     
</div>
